:root {
  /* BASE */
  --color: #6b6b6b;
  --color-light: #f1f1f1;
  --outline: #c1c1c1;
  --border: #d1d5dc;
  --btn-bg: #442bff;

  /* HOVER */
  --border-hover: #a5a5a5;
  --btn-bg-hover: #604bfe;
}
