:root {
  /* BASE */
  --body-bg: #ffffff;
  --color: #6b6b6b;
  --color-light: #f1f1f1;
  --outline: #c1c1c1;
  --border: #d1d5dc;
  --btn-bg: #442bff;

  /* HOVER */
  --border-hover: #a5a5a5;
  --btn-bg-hover: #604bfe;

  /* SPINNER */
  --spinner: #c1c1c1;

  /* THEME-TOGGLE */
  --theme-toggle: #000;
  --toggle-thumb: #000;
}

:root.dark-theme {
  /* BASE */
  --body-bg: #181a1b;
  --color: #e2e2e2;
  --color-light: #000000;
  --outline: #2c2f30;
  --border: #3a3d3f;
  --btn-bg: #388e3c;
  --btn-bg-hover: #4caf50;

  /* HOVER */
  --border-hover: #5c5c5c;
  --spinner: #888;

  /* SPINNER */
  --spinner: #c1c1c1;

  /* THEME-TOGGLE */
  --theme-toggle: #fff;
  --toggle-thumb: #4caf50;
}
